body{
    background-color: #55556D;
    }
ul {
    display: flex;
    list-style-type:none ;
    gap: 30px;
    margin-top: -55px;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.color{
    color: aliceblue;
}
.image_container {
    border-radius: 50%;
    overflow: hidden;
    margin-left: 300px;
  }
  .image_container,
img {
  width: 300px;
  height: 320px;
}
.h12{
    margin-top: -300px;
    margin-left: 100px;
    font-size: 25px;
    color: aliceblue;
}
.center {
    margin-top: -10px;
    margin-left: 100px;
    color:gray ;
}
.container {
    margin-top: -450px;
    margin-left: 800px;
}
.service {
    margin-left: 600px;
    margin-top: 150px;
}

.font{
    display: flex;
    justify-content: end;
    margin-right: 300px;
    margin-top: 30px;
    font-size: 15px;
    color: yellow
}
.line{
    width: 150px;
    border-bottom: solid;
    color:yellow;
    margin-top: -20px;
    margin-left: 100px;
    }
    
.m {
    margin-top: 200px;
margin-left: 30px;
color:blanchedalmond
}
h1 {
     margin: 60px,100px,;
 }

.k {
            margin: -400px 200px;
        }
        .i {
            width: 150px;
            height: 150px;
        }
        .king {
            margin: -140px 160px 50px;
        }
        .z {
            width: 150px;
            height: 150px;
            margin-top: 80px;
        }
        .kings {
            margin: -140px 160px 50px;
        }
        
        .hor {
            margin-top: px;
        }
      h6 {
        margin: 50px 170px;
      }

      .long { 
        max-width: 300px;
        margin: auto;
        background-color:#947F74 ;
      }
      .kara{
        width: 500px;
        height: 100px;
      }
      .container1{
        display: flex;
        justify-content: center;
        margin-top: -700px;
        margin-left: 150px;
        width: 650px;
        
      }
      .m12 {
        width: 175px;
        height: 100px;
         background-color: grey;
      }
      .m123 {
        width: 175px;
        height: 95px;
      }
      .m1234 {
        width: 175px;
        height: 95px;
      }
      .m12345 {
        width: 175px;
        height: 95px;
      }
      .container12 {
        display: flex;
        flex-direction: row; /* sets the flex container direction to row */
        justify-content: space-around;
        margin-top: 650px;

      }
      .box {
        height: 200px;
        width: 200px;
    
      }
      .red {
        background-color: gray;
      }
      
      .green {
        background-color: gray;
      }
      
      .blue {
        background-color: gray;
      }
      .pink{
      background-color: pink;
      }
      .kareem {
        color: yellow;
      }
      .p {
        color: yellow;
      }